.idea
SwiftBites.xcodeproj/project.xcworkspace/xcuserdata/hassanjamila.xcuserdatad/Bookmarks/bookmarks.plist
SwiftBites.xcodeproj/xcuserdata/hassanjamila.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
